<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./filteredResult.css">
    <title>Data Entry System</title>
  </head>
  <body>
    <div>
      <div class="nav-bar">
        <div class="user-mode">
          <div class="button-logout-content">
            <form action="/logout" method="get">
              <button type="submit" class="button-logout">Log-out</button>
            </form>
          </div>
          <div id="user-mode-name">
            <p><%= username %></p>
          </div>
        </div>
        <div class="app-name-div">
          <h2 id="app-name">Data Entry System</h2>
        </div>
      </div>
      <div id="title-name-content">
        <p id="title-name">Fetched Records :</p>
      </div>
      <div class="table-content">
        <%if(dataFetching){%>
        <table id="table-data">
          <tr>
            <th>S.No</th>
            <th>Body Number</th>
            <th>Category</th>
            <th>Sub-Category</th>
            <th>Defect Area</th>
            <th>Created Date</th>
            <th>Created Time</th>
            <th>Created By</th>
          </tr>
          <% for(let i=0; i<data.length; i++) { %>
          <tr>
              <td><%= i+1 %></td>
              <td><%= data[i].bodyNumber %></td>
              <td><%= data[i].categoryChosen %></td>
              <td><%= data[i].subCategoryChosen %></td>
              <td><%= data[i].defectArea %></td>
              <td><%= data[i].date %></td>
              <td><%= data[i].time %></td>
              <td><%= data[i].username%></td>
          </tr>
          <% } %>  
        </table>
        <%}else{%>
          <p id="data-not-found-message">Data could not be found !</p>
        <%}%>
      </div>
    </div>
  </body>
</html>
