<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./firstLayer.css" />
    <title>Data Entry System</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <div class="header">
        <div style="display: flex; align-items: center">
          <img
            src="./home.png"
            style="margin-left: 2%; width: 5%; margin-right: 1%"
            id="home-icon"
            alt="Home"
            onclick="document.getElementById('followerForm').submit();"
          />
          <div class="heading">Data Entry System</div>
        </div>
        <p class="selected-message">Body Number : <%= enteredBodyNumber %></p>
        <form id="btn" action="/logout" method="get">
          <div class="admin" id="user-mode-name"><%= username %></div>
          <button
            type="submit"
            style="
              background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
            "
            class="button-logout bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
          >
            LOGOUT
          </button>
        </form>
      </div>
      <div class="connectionMode">
        <div class="connectionModeOnline">
          <input
            type="radio"
            form="firstLayerForm"
            name="connectionMode"
            value="online"
            id="onlineModeRadioButton"
            checked="true"
          />
          <p id="connectionModeOnlineText">Online</p>
        </div>
        <div class="connectionModeOffline">
          <input
            type="radio"
            form="firstLayerForm"
            name="connectionMode"
            value="offline"
            id="offlineModeRadioButton"
          />
          <p>Offline</p>
        </div>
      </div>
      <div id="title-name-content">
        <img
          src="./arrow.png"
          id="go-back-icon"
          alt="Go Back"
          onclick="document.getElementById('followerForm').submit();"
        />
        <p id="title-name">Select Category :</p>
      </div>

      <div class="main-content">
        <% for(let i = 0 ; i < bodyNumberOptions.length ; i++){ %>
        <form action="/secondlayer" id="firstLayerForm" method="post">
          <input
            type="hidden"
            name="selectedCategory"
            value="<%= bodyNumberOptions[i] %>"
          />
          <button
            type="submit"
            class="form-content"
            id="first-layer-button<%= i+1 %>"
          >
            <%= bodyNumberOptions[i]%>
          </button>
        </form>
        <%}%>
      </div>
      <form action="/follower" method="get" id="followerForm"></form>
    </div>

    <script>
      function setConnectionMode(event) {
        var radioElement = event.target;

        var hiddenConnectionRadio = document.getElementById(
          'hiddenConnectionMode'
        );

        hiddenConnectionRadio.value = radioElement.value;

        console.log(hiddenConnectionRadio.value);
      }
    </script>
  </body>
</html>
