<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./firstLayer.css" />
    <title>Data Entry System</title>
  </head>
  <body>
    <div>
      <div class="nav-bar">
        <div class="user-mode">
          <div class="button-logout-content">
            <form action="/logout" method="get">
              <button type="submit" class="button-logout">Log-out</button>
            </form>
          </div>
          <div id="user-mode-name">
            <p><%= username %></p>
          </div>
        </div>
        <div class="app-name-div">
          <h2 id="app-name">Data Entry System</h2>
          <p class="selected-message">Body Number : <%= enteredBodyNumber %></p>
        </div>
      </div>
      <div>
        <div class="connectionMode">
          <div class="connectionModeOnline">
            <input
              type="radio"
              name="connectionMode"
              value="online"
              form="firstLayerForm"
              onclick="setConnectionMode(event)"
              id="onlineModeRadioButton"
              checked="true"
            />
            <p id="connectionModeOnlineText">Online</p>
          </div>
          <div class="connectionModeOffline">
            <input
              type="radio"
              name="connectionMode"
              value="offline"
              form="firstLayerForm"
              onclick="setConnectionMode(event)"
              id="offlineModeRadioButton"
            />
            <p id="connectionModeOfflineText">Offline</p>
          </div>
        </div>

        <div id="title-name-content">
          <img
            src="./arrow.png"
            id="go-back-icon"
            alt="Go Back"
            onclick="document.getElementById('forRedirectingFollower').submit()"
          />
          <p id="title-name">Select Category :</p>
        </div>
      </div>
      <div class="main-content">
        <% for(let i = 0 ; i < bodyNumberOptions.length ; i++){ %>
        <form action="/secondlayer" method="post" id="firstLayerForm">
          <input
            type="hidden"
            name="selectedCategory"
            value="<%= bodyNumberOptions[i] %>"
          />
          <input
            type="hidden"
            name="connectionMode"
            id="hiddenConnectionMode"
          />
          <button
            type="submit"
            class="form-content"
            id="first-layer-button<%= i+1 %>"
          >
            <%= bodyNumberOptions[i]%>
          </button>
        </form>
        <%}%>
      </div>

      <form action="/follower" method="get" id="forRedirectingFollower"></form>
    </div>

    <script>
      history.pushState(null, null, location.href);
      window.onpopstate = function () {
        history.go(1);
      };

      if (
        confirm(
          'Defects Saved. Click OK to add more defects to the same body number'
        ) == false
      ) {
        document.getElementById('forRedirectingFollower').submit();
      }

      function setConnectionMode(event) {
        var radioElement = event.target;

        var hiddenConnectionRadio = document.getElementById(
          'hiddenConnectionMode'
        );

        hiddenConnectionRadio.value = radioElement.value;
      }
    </script>
  </body>
</html>
