<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./secondLayer.css" />
    <title>Data Entry System</title>
  </head>
  <body>
    <div>
      <div class="nav-bar">
          <div class="button-logout-content">
            <form action="/logout" method="get">
              <button type="submit" class="button-logout">Log-out</button>
            </form>
          </div>
          <div id="user-mode-name">
            <p><%= username %></p>
          </div>
        </div>
        <div class="app-name-div">
          <h2 id="app-name">Data Entry System</h2>
          <p class="selected-message">Body Number : <%= enteredBodyNumber %> | Category : <%= selectedCategory %></p>
        </div>
      </div>
      <div id="title-name-content">
        <img
          src="./arrow.png"
          id="go-back-icon"
          alt="Go Back"
          onclick="history.back()"
        />
        <p id="title-name">Select Sub-Category :</p>
      </div>
      <div class="main-content">
        <% for(let i = 0 ; i < ShortlistedCategoryOptions.length ; i++){ %>
        <form action="/thirdlayer" method="post">
          <input
            type="hidden"
            name="selectedSubCategory"
            value="<%= ShortlistedCategoryOptions[i] %>"
          />
          <button
            type="submit"
            class="form-content"
            <% if((ShortlistedCategoryOptions.length % 2) == 0){ %>
              id="second-layer-button-first-set<%= i+1 %>"  
            <% }else{ %>
              id="second-layer-button-second-set<%= i+1 %>"
            <% } %>
          >
            <%= ShortlistedCategoryOptions[i]%>
          </button>
        </form>
        <%}%>
      </div>
    </div>
    <!-- <form action="/firstlayer" method="get">
      <button type="submit">Go Back</button>
    </form> -->
  </body>
</html>
