<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./secondLayer.css" />
    <title>Sub-Category Selection</title>
  </head>
  <body>
    <div>
      <div class="nav-bar">
        <div class="user-mode">
          <p id="user-mode-name"><%= username %></p>
        </div>
        <div class="app-name-div">
          <h2 id="app-name">Data Entry System</h2>
        </div>
      </div>
      <div id="title-name-content">
        <p id="title-name">Select Sub-Category :</p>
      </div>
      <div class="main-content">
        <% for(let i = 0 ; i < ShortlistedCategoryOptions.length ; i++){ %>
        <form action="/selectsubcategory" method="post">
          <input
            type="hidden"
            name="selectedCategoryOption"
            value="<%= ShortlistedCategoryOptions[i] %>"
          />
          <button
            type="submit"
            class="form-content"
            <% if(i<=4){ %>
              id="second-layer-button-first-set<%= i+1 %>"  
            <% }else{ %>
              id="second-layer-button-second-set<%= i+1 %>"
            <% } %>
          >
            <%= ShortlistedCategoryOptions[i]%>
          </button>
        </form>
        <%}%>
      </div>
    </div>
    <!-- <form action="/firstlayer" method="get">
      <button type="submit">Go Back</button>
    </form> -->
  </body>
</html>
