<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./thirdLayer.css" />
    <title>Data Entry System</title>
  </head>
  <body>
    <div>
      <div class="nav-bar">
        <div class="user-mode">
          <div class="button-logout-content">
            <form action="/logout" method="get">
              <button type="submit" class="button-logout">Log-out</button>
            </form>
          </div>
          <div id="user-mode-name">
            <p><%= username %></p>
          </div>
        </div>
        <div class="app-name-div">
          <h2 id="app-name">Data Entry System</h2>
          <p class="selected-message">
            Body Number : <%= enteredBodyNumber %> | Category : <%=
            selectedCategory %> | Sub-Category : <%= selectedSubCategory %>
          </p>
        </div>
      </div>
      <div id="title-name-content">
        <p id="title-name">Select Defect Area :</p>
      </div>
      <div class="main-content">
        <% for(let i = 0 ; i < ShortlistedSubCategoryOptions.length ; i++){ %>
        <form action="/handlesave" method="post">
          <input
            type="hidden"
            name="defectAreaChosen"
            value="<%= ShortlistedSubCategoryOptions[i] %>"
          />
          <button type="submit"><%= ShortlistedSubCategoryOptions[i]%></button>
        </form>
        <%}%>
      </div>
    </div>
    <!-- <form action="/secondlayer" method="get">
      <button type="submit">Go Back</button>
    </form> -->
  </body>
</html>
